<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <p>Welcome to the help page</p>
    <h3>
        <a href="/">Navigate</a> to home page and serach your city in the search bar .
         And you will get the Temperature Back
    </h3> 
    </div>
   
    {{>footer}}
</body>
</html>